<style>
    .navbar-left {
        margin-left: auto;
    }

    .navbar-btn {
        border: 3px solid aqua;
        border-radius: 10px;
    }
</style>
<div class="navbar navbar-static-top navbar-inverse" role="navigation">
    <div class="navbar-left">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span>BrandName</span>
            </a>
        </div>
        <a ng-href="#!home" class="btn btn-default navbar-btn">Home</a>
        <a ng-href="#!about" class="btn btn-default navbar-btn">About</a>
        <a ng-href="#!promotions" class="btn btn-default navbar-btn">Promotions</a>
        <a ng-href="#!tutorial" class="btn btn-default navbar-btn">Tutorial</a>
    </div>

    <cart-summary></cart-summary>
</div>