<div class="panel panel-default" ng-controller="productListCtrl" ng-hide="data.error">
    <div class="panel-body" >
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="column-width: auto">
            <a ng-repeat="item in data.products | orderBy: 'category' | unique: 'category'"
               ng-click="selectCategory(item)" class="btn btn-block btn-default btn-lg"
               ng-class="getCategoryClass(item)">{{item}}</a>
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" >
            <div class="card bg-info" style="width: 25rem;display:inline-block;padding: 2rem; margin: 1rem"
                 ng-repeat="item in data.products | filter: categoryFilterFn | range:selectedPage:pageSize">
                <img class="card-img-top img-responsive" src="http://localhost:8082/facebook.png" alt="facebook">
                <h4 class="card-title">{{item.name}}</h4>
                <p class="card-text" style="height: 10rem">{{item.description}}</p>
                <button class="btn btn-success pull-right" ng-click="addProductToCart(item)">
                    Add to cart
                </button>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
    </div>

    <div class="panel-footer clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="btn-group pull-right">
                <a ng-repeat="page in data.products | filter: categoryFilterFn | pageCount: pageSize"
                   ng-click="selectPage($index + 1)" class="btn btn-default"
                   ng-class="getPageClass($index + 1)">{{$index + 1}}
                </a>
            </div>
        </div>
    </div>

</div>